# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\01 Bens_Pythonprojekte\hacking tools\mulit-tool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
